ion-card-title{
    text-align: center;
    text-decoration: underline;
    font-size: 25pt;
    color: #fff;
}

ion-title{
    text-align: center;
    font-weight: bold;
}

.home{
    display:block;
    margin-left: auto;
    margin-right: auto;
}