ion-title {
    text-align: center;
    font-weight: bold;
    color: black;
}

ion-card-title {
    color: #000000 !important;
}

ion-card-subtitle {
    color: #000000 !important;
}

.btn-titulo {
    position: absolute;
}

.imagen {
    display: block;
    margin: auto;
}