<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="cotenido" class="crearFactura" color="warning">
    <h1 class="ion-text-center">Productos a facturar</h1>
    <form [formGroup]="user">
      <ion-select #seer placeholder="Seleccione Un servicio" class="input1" formControlName="producto" id="producto"
        (ionChange)="handleChange($event)" required>
        <ion-select-option *ngFor="let servicio of servicioT"
          [value]="servicio">{{servicio.descripcion}}</ion-select-option>
      </ion-select>

      <ion-label aria-expanded="true" position="floating" class="ion-align-items-center">Precio Unitario</ion-label>
      <ion-input #precioUnitario formControlName="precioUnitario" id="precioUnitario" type="number" class="input1"
        required value="{{serviciof.precioUnitario}}"> </ion-input>
      <ion-label position="floating" class="ion-align-items-center">Cantidad</ion-label>
      <ion-input #cantidad formControlName="cantidad1" id="cantidad1" type="number" class="input1"
        placeholder="Ingrese la cantidad" required></ion-input>

      <ion-button class="button"
        (click)="agregarDetalles(+precioUnitario.value!,serviciof.id, +cantidad.value!, serviciof.descripcion)"
        color="tertiary">Agregar</ion-button>

    </form>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Productos a facturar</ion-card-title>

      </ion-card-header>
      <ion-card *ngFor="let detalles of det">

        <ion-item lines="lines" color="warning">
          <ion-thumbnail slot="start">

            <img src="https://cdn-icons-png.flaticon.com/512/1458/1458564.png" />
          </ion-thumbnail>
          <ion-list style="background-color:var(--ion-color-warning);">

            <ion-label color="dark">Producto: {{detalles.descripcion}}</ion-label>

            <ion-label color="dark">Pecio U: {{detalles.precioUnitario}} $</ion-label>

            <ion-label color="dark">Cantidad: {{detalles.cantidad}}</ion-label>
            <ion-label color="dark">Total: {{detalles.total}} $</ion-label>
          </ion-list>
        </ion-item>

      </ion-card>
      <ion-item lines="lines" color="warning">
        <ion-title class="ion-text-center">Total</ion-title>

        <ion-list style="background-color:var(--ion-color-warning);">

          <ion-label color="dark">Subtotal: {{subtotal}} $</ion-label>

          <ion-label color="dark">Iva: {{impuesto}} $</ion-label>

          <ion-label color="dark">Total: {{totalF}} $</ion-label>
        </ion-list>
      </ion-item>
    </ion-card>


  </ion-card>
</ion-content>