<ion-header>
  <ion-toolbar>
    <ion-button slot="start" class="btn-titulo" color="secondary"
      [routerLink]="['/listfacturas']"><ion-icon name="arrow-back-circle-outline"></ion-icon></ion-button>
    <ion-title>Detalles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="medium" class="factura" *ngFor="let facts of factC">

    <ion-avatar>
      <img class="factura" alt="Factura" src="https://cdn-icons-png.flaticon.com/128/950/950258.png" />
    </ion-avatar>

    <ion-card-content>
      <ion-item>
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fecha Emisión: </ion-label>
        <ion-label>{{facts.fechaDeEmision}}</ion-label>

      </ion-item>
      <ion-item>
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cliente: </ion-label>
        <ion-label>{{facts.cliente.nombre}} </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email: </ion-label>
        <ion-label>{{facts.cliente.correoElectronico}} </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="cash-outline"></ion-icon>
        <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Subtotal: </ion-label>
        <ion-label> {{facts.subtotal}} $</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="cash-outline"></ion-icon>
        <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Iva: </ion-label>
        <ion-label> {{facts.impuesto}} $</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="wallet-outline"></ion-icon>
        <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total: </ion-label>
        <ion-label> {{facts.total}} $</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>