<ion-header>
  <ion-toolbar>
    <ion-button slot="start" class="btn-titulo" color="secondary" [routerLink]="['/listfacturas']"><ion-icon
        name="arrow-back-outline"></ion-icon></ion-button>
    <ion-title>Crear Factura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Cliente</h1>
  <ion-card class="crearFactura">

    

    <ion-header>
      <ion-item>
        <ion-input #identificador id="identificacionNumero" type="text" class="input1"
          placeholder="Cédula/RUC" required class="ion-text-center"></ion-input>


        <ion-button color="secondary" slot="end" (click)="buscarClienteIdentificacion(''+identificador.value)">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-header>
  </ion-card>



  <h1>Datos de la factura</h1>

  <ion-card-content class="hola">
    <ion-card>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="cliente.nombre" id="nombre" type="text" class="ion-text-center"
        value="{{cliente.nombre}}" readOnly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input [(ngModel)]="cliente.correoElectronico" id="email" type="text" class="ion-text-center"
        value="{{cliente.correoElectronico}}" readOnly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Dirección</ion-label>
        <ion-input [(ngModel)]="cliente.direccion" id="direccion" type="text" class="ion-text-center"
        value="{{cliente.direccion}}" readOnly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input [(ngModel)]="cliente.telefono" id="telefono" type="text" class="ion-text-center"
        value="{{cliente.telefono}}" readOnly></ion-input>
      </ion-item>
    </ion-card>
    <form [formGroup]="facturaRegisterForm" (ngSubmit)="cargarfactura()">
      <ion-input class="ion-hide" formControlName="clienteId" [(ngModel)]="cliente.id" id="clienteId" type="text"
        value="{{cliente.id}}" readOnly></ion-input>
      <ion-item>
        <ion-button shape="round" type="submit" color="secondary">Facturar</ion-button>
      </ion-item>

    </form>

    <ion-card color="light">
      <ion-card-subtitle class="ion-text-center">Productos Facturar</ion-card-subtitle>
      <ion-card *ngFor="let detalles of detalles1" style="background-color: white;">


        <ion-item lines="lines">
          <ion-thumbnail slot="start">

            <img src="https://cdn-icons-png.flaticon.com/128/8947/8947916.png" />
          </ion-thumbnail>
          <ion-list>

            <ion-label color="dark">Producto: {{detalles.descripcion}}</ion-label>
            <ion-label color="dark">Pecio U: {{detalles.precioUnitario}} $</ion-label>
            <ion-label color="dark">Cantidad: {{detalles.cantidad}}</ion-label>
            <!-- <ion-label color="dark">Total: {{detalles.total}} $</ion-label> -->
          </ion-list>
        </ion-item>



      </ion-card>
      <ion-item lines="lines">

        <ion-list>

          <ion-label color="dark">Subtotal: {{subtotal}} $</ion-label>


          <ion-label color="dark">Iva: {{impuesto}} $</ion-label>


          <ion-label color="dark">Total: {{totalF}} $</ion-label>
        </ion-list>
      </ion-item>
    </ion-card>
    <ion-card>

    </ion-card>
  </ion-card-content>
</ion-content>