ion-avatar{
    margin: auto;
}

ion-title {
    text-align: center;
    font-weight: bold;
}

.button{
    display: block;
    margin: auto;
}

h1{
    font-weight: bold;
    color: #000;
}

ion-card-title{
    color: #000 !important;
}

.crearFactura{
    margin-top: 25%;
}