ion-card-title{
    text-align: center;
    text-decoration: underline;
    font-size: 18pt;
    color: black;
    font-weight: bold;
}

ion-title{
    text-align: center;
    font-weight: bold;
}

img{
    display: block;
    margin: auto;
}