ion-card{
  margin-top: 39%;
}

ion-card-title{
  text-align: center !important;
  font-style: italic;
  text-decoration: solid;
}

ion-card-content{
  text-align: center;
}

ion-content{
  background-color: aquamarine;
}